<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.ai.serviceProvider">
      <provider
            class="com.bdaum.zoom.ai.msvision.internal.core.MsVisionServiceProvider"
            id="com.bdaum.zoom.ai.provider.msVision"
            latency="3000"
            name="MS Vision">
      </provider>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.preferencePageExtension">
      <preferencePageExtension
            class="com.bdaum.zoom.ai.msvision.internal.preference.PagePart"
            pageId="com.bdaum.zoom.ai.aiPrefPage">
      </preferencePageExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bdaum.zoom.ai.msvision.internal.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="com.bdaum.zoom.ai">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocprefs.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>

</plugin>
