<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bdaum.zoom.rcp.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bdaum.zoom.rcp.internal.perspective.LightboxPerspective"
            icon="icons/lightbox.gif"
            id="com.bdaum.zoom.rcp.LightboxPerspective"
            name="%perspective.name.lightbox">
         <description>
            %perspective.description.lightbox
         </description>
      </perspective>
      <perspective
            class="com.bdaum.zoom.rcp.internal.perspective.SleevesPerspective"
            icon="icons/sleeves.gif"
            id="com.bdaum.zoom.rcp.SleevesPerspective"
            name="%perspective.name.sleeves">
         <description>
            %perspective.description.sleeves
         </description>
      </perspective>
      <perspective
            class="com.bdaum.zoom.rcp.internal.perspective.SlidesPerspective"
            icon="icons/slideshow.gif"
            id="com.bdaum.zoom.SlidesPerspective"
            name="%perspective.name.slides">
         <description>
            %perspective.description.slideshow
         </description>
      </perspective>
      <perspective
            class="com.bdaum.zoom.rcp.internal.perspective.ExhibitionPerspective"
            icon="icons/exhibition.png"
            id="com.bdaum.zoom.ExhibitionPerspective"
            name="%perspective.name.exhibition">
         <description>
            %perspective.description.exhibition
         </description>
      </perspective>
      <perspective
            class="com.bdaum.zoom.rcp.internal.perspective.WebGalleryPerspective"
            icon="icons/webGallery.gif"
            id="com.bdaum.zoom.WebGalleryPerspective"
            name="%perspective.name.web_gallery">
         <description>
            %perspective.description.webgallery
         </description>
      </perspective>
      <perspective
            class="com.bdaum.zoom.rcp.internal.perspective.PresentationPerspective"
            icon="icons/presentation.png"
            id="com.bdaum.zoom.PresentationPerspective"
            name="%perspective.presentation">
         <description>
            %perspective.description.presentation
         </description>
      </perspective>
      <perspective
            class="com.bdaum.zoom.rcp.internal.perspective.TablePerspective"
            icon="icons/table.png"
            id="com.bdaum.zoom.rcp.TablePerspective"
            name="%perspective.name.table">
         <description>
            %perspective.description.table
         </description>
      </perspective>
      <perspective
            class="com.bdaum.zoom.rcp.internal.perspective.DataEntryPerspective"
            icon="icons/dataEntry.png"
            id="com.bdaum.zoom.rcp.DataEntryPerspective"
            name="%perspective.name.dataentry">
         <description>
            %perspective.description.entry
         </description>
      </perspective>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bdaum.zoom.rcp.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bdaum.zoom.rcp.application"
            name="%appName">
         <property
               name="appName"
               value="%appName">
         </property>
         <property
               name="shortName"
               value="ZoRaPD">
         </property>
         <property
               name="aboutText"
               value="%about">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="windowImages"
               value="zora16.png,zora32.png,zora48.png,zora64.png,zora128.png,zora256.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="com.bdaum.zoom.rcp.internal.StatusHandler"
            id="com.bdaum.zoom.rcp.statusHandler">
      </statusHandler>
      <statusHandlerProductBinding
            handlerId="com.bdaum.zoom.rcp.statusHandler"
            productId="com.bdaum.zoom.rcp.product">
      </statusHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="com.bdaum.zoom.rcp.internal.intro.Intro"
            contentDetector="com.bdaum.zoom.rcp.internal.intro.VersionChangeDetector"
            id="com.bdaum.zoom.rcp.Intro">
      </intro>
      <introProductBinding
            introId="com.bdaum.zoom.rcp.Intro"
            productId="com.bdaum.zoom.rcp.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ui.category.dialogs"
            name="%category.name.dialogs">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.bdaum.zoom.rcp.internal.ZoomSplashHandler"
            id="com.bdaum.zoom.rcp.splash.ZoomSplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.bdaum.zoom.rcp.product"
            splashId="com.bdaum.zoom.rcp.splash.ZoomSplashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="com.bdaum.zoom.rcp.LightboxPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bdaum.zoom.rcp.SleevesPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bdaum.zoom.rcp.TablePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bdaum.zoom.rcp.DataEntryPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bdaum.zoom.PresentationPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.perspectiveGallery">
      <gallery
            galleryId="com.bdaum.zoom.ui.views.HStripView"
            perspectiveId="com.bdaum.zoom.rcp.DataEntryPerspective">
      </gallery>
      <gallery
            galleryId="com.bdaum.zoom.ui.views.LightboxView"
            isGalleryPerspective="true"
            perspectiveId="com.bdaum.zoom.rcp.LightboxPerspective">
      </gallery>
      <gallery
            galleryId="com.bdaum.zoom.ui.views.ZuiView"
            isGalleryPerspective="true"
            perspectiveId="com.bdaum.zoom.rcp.SleevesPerspective">
      </gallery>
      <gallery
            galleryId="com.bdaum.zoom.ui.views.HStripView"
            perspectiveId="com.bdaum.zoom.ExhibitionPerspective">
      </gallery>
      <gallery
            galleryId="com.bdaum.zoom.ui.views.HStripView"
            perspectiveId="com.bdaum.zoom.PresentationPerspective">
      </gallery>
      <gallery
            galleryId="com.bdaum.zoom.ui.views.TableView"
            isGalleryPerspective="true"
            perspectiveId="com.bdaum.zoom.rcp.TablePerspective">
      </gallery>
      <gallery
            galleryId="com.bdaum.zoom.ui.views.HStripView"
            perspectiveId="com.bdaum.zoom.SlidesPerspective">
      </gallery>
      <gallery
            galleryId="com.bdaum.zoom.ui.views.HStripView"
            perspectiveId="com.bdaum.zoom.WebGalleryPerspective">
      </gallery>
   </extension>
</plugin>
