<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.ui.galleryGenerator">
      <generator
            class="com.bdaum.zoom.web.pirobox.PiroboxGenerator"
            description="html/preview.html"
            id="com.bdaum.zoom.web.pirobox.generator"
            name="Pirobox"
            sections="true"
            slideshows="false"
            unsupported="navfont">
         <parameter
               default="black"
               description="%design_description"
               id="design"
               label="%design"
               required="true"
               type="string">
            <enumeration
                  id="black"
                  label="%black">
            </enumeration>
            <enumeration
                  id="white"
                  label="%white">
            </enumeration>
            <enumeration
                  id="shaded"
                  label="%shaded">
            </enumeration>
         </parameter>
         <parameter
               default="500"
               description="%speed_description"
               id="speed"
               label="%speed"
               max="5000"
               min="50"
               required="true"
               type="int">
         </parameter>
         <parameter
               default="4"
               description="%radius_description"
               encodeForHtml="false"
               id="radius"
               label="%radius"
               max="50"
               min="0"
               required="false"
               type="int">
         </parameter>
         <parameter
               default="false"
               description="%scroll_description"
               encodeForHtml="false"
               id="scrollImage"
               label="%scroll"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="false"
               description="%next_description"
               encodeForHtml="false"
               id="pirobox_next"
               label="%next"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="false"
               description="%previous_description"
               encodeForHtml="false"
               id="pirobox_previous"
               label="%previous"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="false"
               description="%close_all_description"
               encodeForHtml="false"
               id="close_all"
               label="%close_all"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="true"
               description="%show_slideshow_description"
               encodeForHtml="false"
               id="slideshow"
               label="%show_slideshow"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="4.0"
               description="%slidespeed_description"
               encodeForHtml="false"
               id="slideSpeed"
               label="%slidespeed"
               max="60"
               min="1"
               required="false"
               type="double">
         </parameter>
         <parameter
               default="none"
               description="%parameter.description.float"
               encodeForHtml="false"
               id="floatThumbs"
               label="%parameter.label.float"
               required="false"
               type="string">
            <enumeration
                  id="none"
                  label="%enumeration.label.float.no">
            </enumeration>
            <enumeration
                  id="left"
                  label="%enumeration.label.float.left">
            </enumeration>
            <enumeration
                  id="right"
                  label="%enumeration.label.float.right">
            </enumeration>
         </parameter>
      </generator>
   </extension>

</plugin>
