<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bdaum.zoom.peer.internal.preferences.PeerPreferencePage"
            id="com.bdaum.zoom.peer.PeerPreferencePage"
            name="%page.name.network">
         <keywordReference
               id="com.bdaum.zoom.peer.keyword.peer">
         </keywordReference>
         <keywordReference
               id="com.bdaum.zoom.peer.keyword.incoming">
         </keywordReference>
         <keywordReference
               id="com.bdaum.zoom.peer.keyword.sharedCat">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bdaum.zoom.peer.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocConcepts.xml"
            primary="false">
      </toc>
      <toc
            file="tocRef.xml"
            primary="false">
      </toc>
      <toc
            file="tocTasks.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="context.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.bdaum.zoom.peer.keyword.peer"
            label="%keyword.label.peer">
      </keyword>
      <keyword
            id="com.bdaum.zoom.peer.keyword.sharedCat"
            label="%keyword.label.cat">
      </keyword>
      <keyword
            id="com.bdaum.zoom.peer.keyword.incoming"
            label="%keyword.label.calls">
      </keyword>
   </extension>
   <extension
         point="com.bdaum.zoom.common.preferenceConstants">
      <constants
            class="com.bdaum.zoom.peer.internal.preferences.PreferenceConstants">
      </constants>
   </extension>

</plugin>
