<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.batch.rawConverter">
      <converter
            class="com.bdaum.zoom.dcraw.internal.RawConverter"
            detectors="true"
            executable="optional"
            id="com.bdaum.zoom.dcraw.converter"
            isDefault="true"
            name="DCRAW"
            path="com.bdaum.zoom.dcrawpath">
         <property
               default="false"
               id="com.bdaum.zoom.dcraw.property.showInfo"
               name="%property.name.show_info"
               type="boolean">
         </property>
         <property
               default="0"
               id="com.bdaum.zoom.wbMethod"
               name="%property.name.white_balance"
               type="int">
            <enum
                  id="0"
                  value="%enum.value_camera">
            </enum>
            <enum
                  id="1"
                  value="%enum.value.dcraw">
            </enum>
            <enum
                  id="3"
                  value="%enum.value.d65">
            </enum>
         </property>
         <property
               default="0"
               id="com.bdaum.zoom.rawinterpolation"
               name="%property.name.interpolation"
               type="string">
            <enum
                  id="0"
                  value="%enum.value.bilinear">
            </enum>
            <enum
                  id="1"
                  value="%enum.value.vng">
            </enum>
            <enum
                  id="2"
                  value="%enum.value.ppg">
            </enum>
            <enum
                  id="3"
                  value="%enum.value.ahd">
            </enum>
         </property>
         <property
               default="0"
               id="com.bdaum.zoom.rawiterations"
               max="9"
               min="0"
               name="%property.name.iterations"
               type="int">
         </property>
         <property
               default="false"
               id="com.bdaum.zoom.rawhighlight"
               name="%property.name.highlights"
               type="boolean">
         </property>
      </converter>
   </extension>

</plugin>
