<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.gps.geonamingService">
      <geonamingService
            class="com.bdaum.zoom.gps.naming.google.internal.GoogleGeonamingService"
            default="true"
            description="%geonamingService.description"
            id="Google"
            link="https://developers.google.com/maps/documentation/geocoding"
            name="%geonamingService.name">
        <parameter
              hint="%parameter.hint.id"
              id="com.bdaum.zoom.gps.googleClientId"
              label="%parameter.label.id"
              reqMsg="%parameter.reqMsg"
              tooltip="%parameter.tooltip.id">
         </parameter>
         <parameter
               hint="%parameter.hint.privatekey"
               id="com.bdaum.zoom.gps.googlePrivateKey"
               label="%parameter.label.privateKey"
               tooltip="%parameter.tooltip.privatekey">
         </parameter>
       </geonamingService>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="com.bdaum.zoom.gps">
      </contexts>
   </extension>

</plugin>
