<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.gps.geonamingService">
      <geonamingService
            class="com.bdaum.zoom.gps.naming.google.internal.GoogleGeonamingService"
            default="true"
            description="%geonamingService.description"
            id="Google"
            link="https://cloud.google.com/maps-platform/"
            name="%geonamingService.name">
        <parameter
              explanation="%parameter.explanation.apikey"
              hint="%parameter.hint.id"
              id="com.bdaum.zoom.gps.googleClientId"
              label="%parameter.label.id"
              reqMsg="%parameter.reqMsg"
              tooltip="%parameter.tooltip.id">
         </parameter>
       </geonamingService>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="com.bdaum.zoom.gps">
      </contexts>
   </extension>

</plugin>
