<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="mappingSystem" name="%extension-point.name.mapingsystem" schema="schema/mappingSystem.exsd"/>
   <extension-point id="geonamingService" name="%extension-point.name" schema="schema/geonamingService.exsd"/>
   <extension-point id="premiumService" name="%extension-point.name.0" schema="schema/premiumService.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.bdaum.zoom.gps"
            name="%category.name.geo">
      </category>
      <view
            category="com.bdaum.zoom.gps"
            class="com.bdaum.zoom.gps.internal.views.MapView"
            fastViewWidthRatio="0.5"
            icon="icons/gps.gif"
            id="com.bdaum.zoom.gps.MapView"
            name="%view.name.map"
            restorable="true">
      </view>
      <view
            category="com.bdaum.zoom.gps"
            class="com.bdaum.zoom.gps.internal.views.GPSView"
            fastViewWidthRatio="0.2"
            icon="icons/gpsdata.gif"
            id="com.bdaum.zoom.gps.GPSView"
            name="GPS"
            restorable="true">
      </view>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionSet.description.geo"
            id="com.bdaum.zoom.ui.actionSet.gps"
            label="GPS"
            visible="true">
         <action
               class="com.bdaum.zoom.gps.internal.actions.FindUntaggedAction"
               definitionId="com.bdaum.zoom.gps.UntaggedCommand"
               icon="icons/untagged.gif"
               id="com.bdaum.zoom.gps.actions.FindUntaggedAction"
               label="%action.label.findUntagged"
               menubarPath="meta/metaExt1"
               style="push"
               tooltip="%action.tooltip.findUntagged">
         </action>
         <action
               class="com.bdaum.zoom.gps.internal.actions.GeotagAction"
               definitionId="com.bdaum.zoom.gps.GeotagCommand"
               icon="icons/gps.gif"
               id="com.bdaum.zoom.ui.actions.GeotagAction"
               label="%action.label.geotag_images"
               menubarPath="meta/metaStart"
               style="push"
               toolbarPath="com.bdaum.zoom.workbench.image/edit.ext"
               tooltip="%action.tooltip.geotag_files">
         </action>
         <action
               class="com.bdaum.zoom.gps.internal.actions.GeoNamingAction"
               definitionId="com.bdaum.zoom.gps.GeonameCommand"
               icon="icons/geoname.gif"
               id="com.bdaum.zoom.gps.actions.GeoNamingAction"
               label="%action.label.geoname_images"
               menubarPath="meta/metaStart"
               style="push"
               tooltip="%action.tooltip.geoname_geotagged_files">
         </action>
       </actionSet>
   </extension>
-->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bdaum.zoom.gps.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bdaum.zoom.gps.internal.preferences.GpsPreferencePage"
            id="com.bdaum.zoom.gps.preferences.GpsPreferencePage"
            name="%page.name">
         <keywordReference
               id="com.bdaum.zoom.gps.keyword.altitude">
         </keywordReference>
         <keywordReference
               id="com.bdaum.zoom.gps.keyword.coordinate">
         </keywordReference>
         <keywordReference
               id="com.bdaum.zoom.gps.keyword.place">
         </keywordReference>
         <keywordReference
               id="com.bdaum.zoom.gps.keyword.tag">
         </keywordReference>
         <keywordReference
               id="com.bdaum.zoom.gps.keyword.timeshift">
         </keywordReference>
         <keywordReference
               id="com.bdaum.zoom.ui.keyword.tolerance">
         </keywordReference>
      </page>
      <!--<page
            category="com.bdaum.zoom.gps.preferences.GpsPreferencePage"
            class="com.bdaum.zoom.gps.internal.preferences.EventTaggingPage"
            id="com.bdaum.zoom.gps.preferences.EventTaggingPage"
            name="Event Tagging">
      </page>-->
   </extension>
   <extension
         point="com.bdaum.zoom.ui.dropinHandler">
      <handler
            class="com.bdaum.zoom.gps.internal.DropinHandler"
            type="gps">
      </handler>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.locationDisplay">
      <display
            class="com.bdaum.zoom.gps.internal.MapDisplay">
      </display>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description.geo"
            id="com.bdaum.zoom.gps.GPSCommands"
            name="%category.name.GPS_commands">
      </category>
      <command
            categoryId="com.bdaum.zoom.gps.GPSCommands"
            description="%command.description.geotag"
            id="com.bdaum.zoom.gps.GeotagCommand"
            name="%command.name.Geotag">
      </command>
      <command
            categoryId="com.bdaum.zoom.gps.GPSCommands"
            description="%command.description.reverse"
            id="com.bdaum.zoom.gps.GeonameCommand"
            name="%command.name.Geoname">
      </command>
      <command
            categoryId="com.bdaum.zoom.gps.GPSCommands"
            description="%command.description.find_untagged"
            id="com.bdaum.zoom.gps.UntaggedCommand"
            name="%command.name.findUntagged">
      </command>
      <!--<command
            categoryId="com.bdaum.zoom.gps.GPSCommands"
            description="Find events for the selected images"
            id="com.bdaum.zoom.gps.EventTaggingCommand"
            name="Event Tagging">
      </command>-->
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.bdaum.zoom.gps.GeotagCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.bdaum.zoom.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
      <key
            commandId="com.bdaum.zoom.gps.GeonameCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.bdaum.zoom.defaultAcceleratorConfiguration"
            sequence="M1+M2+G">
      </key>
      <key
            commandId="com.bdaum.zoom.gps.UntaggedCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.bdaum.zoom.defaultAcceleratorConfiguration"
            sequence="M1+F M1+U">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
      <toc
            file="tocprefs.xml"
            primary="false">
      </toc>
      <toc
            file="tocConcepts.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contextsExt.xml"
            plugin="com.bdaum.zoom.doc">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.bdaum.zoom.gps.keyword.timeshift"
            label="%keyword.label.timeshift">
      </keyword>
      <keyword
            id="com.bdaum.zoom.gps.keyword.coordinate"
            label="%keyword.label.coordinate">
      </keyword>
      <keyword
            id="com.bdaum.zoom.gps.keyword.place"
            label="%keyword.label.place">
      </keyword>
      <keyword
            id="com.bdaum.zoom.gps.keyword.altitude"
            label="%keyword.label.altitude">
      </keyword>
      <keyword
            id="com.bdaum.zoom.gps.keyword.tag"
            label="%keyword.label.tag">
      </keyword>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.gpsParser">
      <parser
            class="com.bdaum.zoom.gps.internal.gpx.GpxParser"
            extensions="gpx"
            name="GPX"
            waypoints="com.bdaum.zoom.gps.internal.gpx.WaypointCollector">
         <type
               name="%type.name.gpx">
         </type>
      </parser>
      <parser
            class="com.bdaum.zoom.gps.internal.nmea.NmeaParser"
            extensions="nmea;log"
            name="NMEA">
         <type
               name="%type.name.nmea">
         </type>
      </parser>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="com.bdaum.zoom.core.resumeHandler">
      <handler
            class="com.bdaum.zoom.gps.ResumeGeonamingHandler"
            id="com.bdaum.zoom.gps.geonamingHandler"
            name="Resume Geonaming handler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:meta?after=metaExt1">
         <command
               commandId="com.bdaum.zoom.gps.GeotagCommand"
               icon="icons/gps.gif"
               label="%command.label"
               mnemonic="%command.mnemonic"
               style="push"
               tooltip="%command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <systemTest
                        property="com.bdaum.zoom.cat.access"
                        value="write">
                  </systemTest>
               </visibleWhen>         
         </command>
         <command
               commandId="com.bdaum.zoom.gps.GeonameCommand"
               icon="icons/geoname.gif"
               label="%command.label.0"
               mnemonic="%command.mnemonic.0"
               style="push"
               tooltip="%command.tooltip.0">
               <visibleWhen
                     checkEnabled="false">
                  <systemTest
                        property="com.bdaum.zoom.cat.access"
                        value="write">
                  </systemTest>
               </visibleWhen>
        </command>
         <command
               commandId="com.bdaum.zoom.gps.UntaggedCommand"
               icon="icons/untagged.gif"
               label="%command.label.1"
               mnemonic="%command.mnemonic.1"
               style="push"
               tooltip="%command.tooltip.1">
         </command>
      </menuContribution>
      <menuContribution
               allPopups="false"
               locationURI="toolbar:com.bdaum.zoom.workbench.image?after=image.edit">
            <command
                  commandId="com.bdaum.zoom.gps.GeotagCommand"
                  icon="icons/gps.gif"
                  label="%command.label.2"
                  style="push"
                  tooltip="%command.tooltip.2">
               <visibleWhen
                     checkEnabled="false">
                  <systemTest
                        property="com.bdaum.zoom.cat.access"
                        value="write">
                  </systemTest>
               </visibleWhen>
            </command>
       </menuContribution>        
     
   </extension>
   <extension
         point="com.bdaum.zoom.ui.viewAction">
      <action
            appliesTo="com.bdaum.zoom.ui.views.LightboxView com.bdaum.zoom.ui.views.ZuiView com.bdaum.zoom.ui.views.VStripView com.bdaum.zoom.ui.views.HStripView com.bdaum.zoom.ui.views.TableView"
            class="com.bdaum.zoom.gps.internal.actions.GeonameAction"
            definitionId="com.bdaum.zoom.gps.GeonameCommand"
            id="com.bdaum.zoom.gps.action.geoname"
            label="Geoname"
            tooltip="Apply geographical names to the selected geotagged images">
      </action>
      <action
            appliesTo="com.bdaum.zoom.ui.views.LightboxView com.bdaum.zoom.ui.views.ZuiView com.bdaum.zoom.ui.views.VStripView com.bdaum.zoom.ui.views.HStripView com.bdaum.zoom.ui.views.TableView"
            class="com.bdaum.zoom.gps.internal.actions.GeotagAction"
            definitionId="com.bdaum.zoom.gps.GeotagCommand"
            id="com.bdaum.zoom.gps.action.geotag"
            label="Geotag..."
            tooltip="Assign geographical locations to the selected collection with the help of GPX or NMEA files">
      </action>
      <action
            appliesTo="com.bdaum.zoom.ui.views.LightboxView com.bdaum.zoom.ui.views.ZuiView com.bdaum.zoom.ui.views.VStripView com.bdaum.zoom.ui.views.HStripView com.bdaum.zoom.ui.views.TableView"
            class="com.bdaum.zoom.gps.internal.actions.FindUntaggedAction"
            definitionId="com.bdaum.zoom.gps.UntaggedCommand"
            id="com.bdaum.zoom.gps.action.findUntagged"
            label="Find untagged"
            tooltip="Find images without geographical informations">
      </action>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bdaum.zoom.gps.internal.perspectives.GeoPerspective"
            icon="icons/gps.gif"
            id="com.bdaum.zoom.gps.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="com.bdaum.zoom.gps.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
