<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.gps.mappingSystem">
      <mappingSystem
            id="com.bdaum.zoom.gps.mappingSystem.bing"
            mapComponent="com.bdaum.zoom.gps.bing.internal.views.MapComponent"
            name="%mappingSystem.name"
            query="https://bing.com/maps/default.aspx?cp={0}~{1}&amp;lvl={2}">
      </mappingSystem>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.bdaum.zoom.gps.bing.key"
            label="%keyword.label.key">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
