<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:image?after=imageExt2">
         <command
               commandId="com.bdaum.zoom.ui.TextQueryCommand"
               icon="icons/textsearch.png"
               label="%command.label.textQuery"
               mnemonic="%command.mnemonicl.textQuery"
               style="push"
               tooltip="%command.tooltipl.textQuery">
         </command>
         <command
               commandId="com.bdaum.zoom.ui.SearchSimilarCommand"
               icon="icons/similar.gif"
               label="%command.label.contentBased"
               mnemonic="%command.mnemonic.contentBased"
               style="push"
               tooltip="%command.tooltip.contentBased">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar/image.query">
         <command
               commandId="com.bdaum.zoom.ui.SearchSimilarCommand"
               icon="icons/similar.gif"
               label="%command.label.contentBased.1"
               mnemonic="%command.mnemonic.contentBased.1"
               style="push"
               tooltip="%command.tooltip.contentBased.1">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.bdaum.zoom.ui.MetadataCommands"
            defaultHandler="com.bdaum.zoom.lal.internal.lire.ui.commands.TextQueryCommand"
            description="%command.description.textQuery"
            id="com.bdaum.zoom.ui.TextQueryCommand"
            name="%command.name.textQuery">
      </command>
      <command
            categoryId="com.bdaum.zoom.ui.ImageCommands"
            description="%command.description.similaritySearch"
            id="com.bdaum.zoom.ui.SearchSimilarCommand"
            name="%command.name.contentBased">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.bdaum.zoom.ui.SearchSimilarCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.bdaum.zoom.defaultAcceleratorConfiguration"
            sequence="M1+F M1+C">
      </key>
      <key
            commandId="com.bdaum.zoom.ui.TextQueryCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.bdaum.zoom.defaultAcceleratorConfiguration"
            sequence="M1+CR">
      </key>
      <key
            commandId="com.bdaum.zoom.ui.TextQueryCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.bdaum.zoom.defaultAcceleratorConfiguration"
            sequence="M1+F M1+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocTasks.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
