<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="model" name="%extension-point.name.model" schema="schema/model.exsd"/>
   <extension
         point="com.bdaum.zoom.ai.clarifai.model">
      <model
            id="aaa03c23b3724a16a56b629203edc62c"
            multilingual="true"
            name="%model.name.general"
            themeId="com.bdaum.zoom.core.theme.general">
      </model>
      <model
            id="bd367be194cf45149e75f01d59f77ba7"
            name="%model.name.food"
            themeId="com.bdaum.zoom.core.theme.food">
      </model>
      <model
            id="eee28c313d69466f836ab83287a54ed9"
            name="%model.name.travel"
            themeId="com.bdaum.zoom.core.theme.travel">
      </model>
      <model
            id="c386b7a870114f4a87477c0824499348"
            name="%model.name.wedding"
            themeId="com.bdaum.zoom.core.theme.wedding">
      </model>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.preferencePageExtension">
      <preferencePageExtension
            class="com.bdaum.zoom.ai.clarifai.internal.preference.PagePart"
            pageId="com.bdaum.zoom.ai.aiPrefPage">
      </preferencePageExtension>
   </extension>
   <extension
         point="com.bdaum.zoom.ai.serviceProvider">
      <provider
            class="com.bdaum.zoom.ai.clarifai.internal.core.ClarifaiServiceProvider"
            id="com.bdaum.zoom.ai.provider.clarifai"
            latency="1000"
            name="Clarifai">
         <ratingModel
               id="bec14810deb94c40a05f1f0eb3c91403"
               label="%ratingModel.label.landscape">
         </ratingModel>
         <ratingModel
               id="de9bd05cfdbf4534af151beb2a5d0953"
               label="%ratingModel.label.portrait">
         </ratingModel>
         <ratingModel
               id="c2cf7cecd8a6427da375b9f35fcd2381"
               label="%ratingModel.label.focus">
         </ratingModel>
         <feature
               description="%general_similarity_expl"
               essential="true"
               id="1001"
               label="%general"
               name="clarifai">
         </feature>
         <feature
               description="%face_similarity_expl"
               id="1002"
               label="%face"
               name="clarifaiFace">
         </feature>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bdaum.zoom.ai.clarifai.internal.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocprefs.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="com.bdaum.zoom.ai">
      </contexts>
   </extension>

</plugin>
