<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bdaum.zoom.webserver.internals.preferences.WebserverPreferencePage"
            id="com.bdaum.zoom.webserver.page1"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bdaum.zoom.webserver.internals.preferences.WebserverPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.autostart">
      <autostartable
            class="com.bdaum.zoom.webserver.internals.Autostart"
            name="%autostartable.name">
      </autostartable>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.preferencePageExtension">
      <preferencePageExtension
            class="com.bdaum.zoom.webserver.internals.preferences.MetadataPreferencePageExtension"
            pageId="com.bdaum.zoom.ui.MetadataPreferencePage">
      </preferencePageExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="introContexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="com.bdaum.zoom.common.preferenceConstants">
      <constants
            class="com.bdaum.zoom.webserver.PreferenceConstants">
      </constants>
   </extension>

</plugin>
