<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension-point id="importFilter" name="%extension-point.name.importFilter" schema="schema/importFilter.exsd"/>
   <extension
         point="com.bdaum.zoom.core.mediaSupport">
      <mediaSupport
            class="com.bdaum.zoom.video.internal.VideoSupport"
            collectionID="videos"
            id="com.bdaum.zoom.video.mediaSupport"
            name="%mediaSupport.name.video"
            plural="%mediaSupport.plural.video">
         <format
               extension="AVCHD"
               mimeType="video/avchd-stream">
         </format>
         <format
               extension="MTS"
               mimeType="video/mts">
         </format>
         <format
               extension="AVI"
               mimeType="video/x-msvideo">
         </format>
         <format
               extension="MP4"
               mimeType="video/mp4">
         </format>
         <format
               extension="MOV"
               mimeType="video/quicktime">
         </format>
         <format
               extension="3GP"
               mimeType="video/3gpp">
         </format>
         <format
               extension="3GPP"
               mimeType="video/3gpp">
         </format>
         <format
               extension="3G2"
               mimeType="video/3gpp2">
         </format>
         <format
               extension="3GPP2"
               mimeType="video/3gpp2">
         </format>
         <format
               extension="ASF"
               mimeType="video/x-ms-asf">
         </format>
         <format
               extension="WMV"
               mimeType="video/x-ms-wmv">
         </format>
         <format
               extension="OGG"
               mimeType="video/ogg">
         </format>
         <format
               extension="OGV"
               mimeType="video/ogg">
         </format>
         <format
               extension="OGM"
               mimeType="application/ogg">
         </format>
         <format
               extension="MKV"
               mimeType="video/x-matroska">
         </format>
         <format
               extension="RM"
               mimeType="application/vnd.rn-realmedia">
         </format>
         <format
               extension="webm"
               mimeType="video/webm">
         </format>
      </mediaSupport>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.imageViewer">
      <imageViewer
            class="com.bdaum.zoom.video.internal.views.VideoViewer"
            formats="AVCHD MTS AVI MP4 MOV 3GP 3GPP 3G2 3GPP2 ASF WMV WMA OGG OGV OGM MKV RM"
            id="com.bdaum.zoom.video"
            name="%imageViewer.name.video">
      </imageViewer>
   </extension>nsion>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bdaum.zoom.rcp.LightboxPerspective">
         <view
               closeable="true"
               id="com.bdaum.zoom.video.view"
               minimized="false"
               moveable="true"
               ratio="1.0"
               relationship="stack"
               relative="com.bdaum.zoom.ui.views.ExifView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toctasks.xml"
            primary="false">
      </toc>
      <toc
            file="tocconcepts.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.bdaum.zoom.video.exportCategory"
            name="%category.name.video">
      </category>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="introContexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.bdaum.zoom.meta"
            class="com.bdaum.zoom.video.internal.views.VideoView"
            icon="icons/video.png"
            id="com.bdaum.zoom.video.view"
            name="%view.name.video2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.hoverContribution">
      <hoverContribution
            class="com.bdaum.zoom.video.internal.VideoHoverContribution"
            id="com.bdaum.zoom.ui.hover.galleryItem.video">
      </hoverContribution>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.mediaUiExtension">
      <uiExtension
            class="com.bdaum.zoom.video.internal.UiExtension"
            mediaSupportId="com.bdaum.zoom.video.mediaSupport"
            name="Video Ui Extension">
      </uiExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.bdaum.zoom.ui.ImageCommands"
            id="com.bdaum.zoom.video.updateThumbCommand"
            name="%command.name.updateThumb">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.bdaum.zoom.video.updateThumbCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.bdaum.zoom.defaultAcceleratorConfiguration"
            sequence="M1+V M1+T">
      </key>
   </extension>
 
</plugin>
