<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension-point id="importFilter" name="%extension-point.name.importFilter" schema="schema/importFilter.exsd"/>
   <extension
         point="com.bdaum.zoom.core.mediaSupport">
      <mediaSupport
            class="com.bdaum.zoom.video.internal.VideoSupport"
            collectionID="videos"
            formats="AVCHD MTS AVI MP4 MOV 3GP 3GPP 3G2 3GPP2 ASF WMV WMA OGG OGV OGM MKV RM"
            id="com.bdaum.zoom.video.mediaSupport"
            mimetypes="video/avchd-stream video/mts video/x-msvideo video/mp4 video/quicktime video/3gpp video/3gpp video/3gpp2 video/3gpp2 video/x-ms-wmv video/x-ms-asf video/ogg video/ogg application/ogg  video/x-matroska application/vnd.rn-realmedia"
            name="%mediaSupport.name.video"
            plural="%mediaSupport.plural.video">
      </mediaSupport>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.imageViewer">
      <imageViewer
            class="com.bdaum.zoom.video.internal.views.VideoViewer"
            formats="AVCHD MTS AVI MP4 MOV 3GP 3GPP 3G2 3GPP2 ASF WMV WMA OGG OGV OGM MKV RM"
            id="com.bdaum.zoom.video"
            name="%imageViewer.name.video">
      </imageViewer>
   </extension>nsion>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bdaum.zoom.rcp.LightboxPerspective">
         <view
               closeable="true"
               id="com.bdaum.zoom.video.view"
               minimized="false"
               moveable="true"
               ratio="1.0"
               relationship="stack"
               relative="com.bdaum.zoom.ui.views.ExifView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toctasks.xml"
            primary="false">
      </toc>
      <toc
            file="tocconcepts.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.bdaum.zoom.video.exportCategory"
            name="%category.name.video">
      </category>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="introContexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.bdaum.zoom.meta"
            class="com.bdaum.zoom.video.internal.views.VideoView"
            icon="icons/video.png"
            id="com.bdaum.zoom.video.view"
            name="Video"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.bdaum.zoom.ui.hoverContribution">
      <hoverContribution
            class="com.bdaum.zoom.video.internal.VideoHoverContribution"
            id="com.bdaum.zoom.ui.hover.galleryItem.video">
      </hoverContribution>
   </extension>

</plugin>
