<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.ui.galleryGenerator">
      <generator
            class="com.bdaum.zoom.web.galleriffic.GallerifficGenerator"
            description="html/preview.html"
            id="com.bdaum.zoom.web.galleriffic.generator"
            name="Galleriffic"
            sections="false"
            slideshows="false"
            unsupported="sectionfont margins">
         <parameter
               default="20"
               description="%thumbnails_per_page_description"
               id="numthumbs"
               label="%thumbnails_per_page"
               max="300"
               min="1"
               required="false"
               type="int">
         </parameter>
         <parameter
               default="left"
               description="%thumbnail_alignment_description"
               id="thumbnailAlign"
               label="%thumbnail_alignment"
               required="false"
               type="string">
            <enumeration
                  id="left"
                  label="%left">
            </enumeration>
            <enumeration
                  id="right"
                  label="%right">
            </enumeration>
            <enumeration
                  id="top"
                  label="%top">
            </enumeration>
            <enumeration
                  id="bottom"
                  label="%bottom">
            </enumeration>
         </parameter>
         <parameter
               default="right"
               description="%image_position_description"
               id="imagePosition"
               label="%image_position"
               required="false"
               type="string">
            <enumeration
                  id="left"
                  label="%image_left">
            </enumeration>
            <enumeration
                  id="right"
                  label="%image_right">
            </enumeration>
            <enumeration
                  id="top"
                  label="%image_top">
            </enumeration>
         </parameter>
         <parameter
               default="true"
               description="%enable_top_pager_description"
               id="enableTopPager"
               label="%enable_top_pager"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="true"
               description="%enable_bottom_pager_description"
               id="enableBottomPager"
               label="%enable_bottom_pager"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="true"
               description="%show_play_pause_buttons_description"
               id="renderSSControls"
               label="%show_play_pause_buttons"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="true"
               description="%show_next_and_previous_buttons_description"
               id="renderNavControls"
               label="%show_next_and_previous_buttons"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="%play_slideshow"
               description="%play_label_description"
               encodeForHtml="true"
               id="playLinkText"
               label="%play_label"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="%pause_slideshow"
               description="%pause_label_description"
               encodeForHtml="true"
               id="pauseLinkText"
               label="%pause_label"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="%previous_photo"
               description="%previous_label_description"
               encodeForHtml="true"
               id="prevLinkText"
               label="%previous_label"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="%next_photo"
               description="%next_label_description"
               encodeForHtml="true"
               id="nextLinkText"
               label="%next_label"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="%prev"
               description="%previous_page_description"
               encodeForHtml="true"
               id="prevPageLinkText"
               label="%previous_page"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="%next"
               description="%next_page_description"
               encodeForHtml="true"
               id="nextPageLinkText"
               label="%next_page"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="%show_caption"
               description="%show_caption_label_description"
               encodeForHtml="true"
               id="showCaptionText"
               label="%show_caption_label"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="%hide_caption"
               description="%hide_caption_label_description"
               encodeForHtml="true"
               id="hideCaptionText"
               label="%hide_caption_label"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="true"
               description="%enable_history_description"
               id="enableHistory"
               label="%enable_history"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="false"
               description="%autostart_description"
               id="autostart"
               label="%autostart"
               required="true"
               type="boolean">
         </parameter>
         <parameter
               default="3.0"
               description="%delay_description"
               id="delay"
               label="%delay"
               max="300.0"
               min="0.5"
               required="true"
               type="double">
         </parameter>
         <parameter
               default="0.9"
               description="%transition_description"
               id="transition"
               label="%transition"
               max="5.0"
               min="0.0"
               required="true"
               type="double">
         </parameter>
      </generator>
   </extension>

</plugin>
