<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en-us"><head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="description" content="${description}">
<meta name="keywords" content="${keywords}">
<meta name="date" content="${date}">
<title>${name}</title>
<link rel="stylesheet" href="basic.css" type="text/css">
<link rel="stylesheet" href="galleriffic.css" type="text/css">
${headhtml}
<script type="text/javascript" src="${jquery}"></script>
<script type="text/javascript" src="${jqueryhistory}"></script>
<script type="text/javascript" src="${galleriffic}"></script>
</head>
<body>${tophtml}
<div id="page">
${nameplatediv}
<div id="container">
<h1>${name}</h1>
${descriptiondiv}
<!-- Start Advanced Gallery Html Containers -->
<div id="gallery" class="content">
  <div id="controls" class="controls"></div>
  <div class="slideshow-container">
    <div id="loading" class="loader"></div>
    <div id="slideshow" class="slideshow"></div>
    ${captiondiv}
  </div>
  ${captiontogglediv}
</div>
<div id="thumbs" class="navigation">
<ul class="thumbs noscript">
${images}
</ul></div>
<!-- End Advanced Gallery Html Containers -->
<div style="clear: both;"></div>
</div>
</div>
<div id="footer">${footer}</div>
<script type="text/javascript">
// We only want these styles applied when javascript is enabled
$('div.navigation').css({'width' : '${navwidth}px', 'float' : '${navpos}'});
$('div.content').css('display', 'block');
// Initially set opacity on thumbs
var onMouseOutOpacity = ${opacity};
$('#thumbs ul.thumbs li').css('opacity', onMouseOutOpacity)
.hover(
function () {
$(this).not('.selected').fadeTo('fast', 1.0);
}, function () {
$(this).not('.selected').fadeTo('fast', onMouseOutOpacity);
}
);
// Enable toggling of the caption
var captionOpacity = ${opacity};
$('#captionToggle a').click(function(e) {
 var link = $(this);
 var isOff = link.hasClass('off');
 var removeClass = isOff ? 'off' : 'on';
 var addClass = isOff ? 'on' : 'off';
 var linkText = isOff ? '${hideCaptionText}' : '${showCaptionText}';
 captionOpacity = isOff ? ${opacity} : 0.0;
 link.removeClass(removeClass).addClass(addClass).text(linkText).attr('title', linkText);
 $('#caption span.image-caption').fadeTo(1000, captionOpacity);
   e.preventDefault();
 });

$(document).ready(function($) {
// Options
var galleryOptions = {
delay: ${delayms},
numThumbs: ${numthumbs},
preloadAhead: 40,
enableTopPager: ${enableTopPager},
enableBottomPager: ${enableBottomPager},
maxPagesToShow: ${maxPages},
imageContainerSel: '#slideshow',
controlsContainerSel: '#controls',
captionContainerSel: '#caption',
loadingContainerSel: '#loading',
renderSSControls: ${renderSSControls},
renderNavControls: ${renderNavControls},
playLinkText: '${playLinkText}',
pauseLinkText: '${pauseLinkText}',
prevLinkText: '${prevLinkText}',
nextLinkText: '${nextLinkText}',
nextPageLinkText: '${nextPageLinkText}',
prevPageLinkText: '${prevPageLinkText}',
enableHistory: ${enableHistory},
autoStart: ${autostart},
syncTransitions: true,
defaultTransitionDuration: ${transitionms},
onSlideChange: function(prevIndex, nextIndex) {
$('#thumbs ul.thumbs').children()
.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
.eq(nextIndex).fadeTo('fast', 1.0);
},
onTransitionOut: function(slide, caption, isSync, callback) {
  slide.fadeTo(this.getDefaultTransitionDuration(isSync), 0.0, callback);
  caption.fadeTo(this.getDefaultTransitionDuration(isSync), 0.0);
},
onTransitionIn: function(slide, caption, isSync) {
  var duration = this.getDefaultTransitionDuration(isSync);
  slide.fadeTo(duration, 1.0);
                                               
  // Position the caption at the bottom of the image and set its opacity
  var slideImage = slide.find('img');
  caption.width(slideImage.width())
  .css({
    'bottom' : Math.floor((slide.height() - slideImage.outerHeight()) / 2 - caption.height() / 2 + 1),
    'left' : Math.floor((slide.width() - slideImage.width()) / 2 - 2) + slideImage.outerWidth() - slideImage.width()
  })
  .fadeTo(duration, captionOpacity);
},
onPageTransitionOut: function(callback) {
$('#thumbs ul.thumbs').fadeTo('fast', 0.0, callback);
},
onPageTransitionIn: function() {
$('#thumbs ul.thumbs').fadeTo('fast', 1.0);
}
};
//Assign options to galleries
$('#gallery').galleriffic('#thumbs', galleryOptions);
// PageLoad function
// This function is called when:
// 1. after calling $.historyInit();
// 2. after calling $.historyLoad();
// 3. after pushing "Go Back" button of a browser
function pageload(hash) {
        // hash doesn't contain the first # character.
        if(hash) {
                $.galleriffic.goto(hash);
        } else {
                $.galleriffic.goto(0);
        }
}

// Initialize history plugin.
// The callback is called at once by present location.hash.
$.historyInit(pageload, "${pagename}");

// set onlick event for buttons using the jQuery 1.3 live method
$("a[rel='history']").live('click', function() {
        var hash = this.href;
        hash = hash.replace(/^.*#/, '');
        // moves to a new page.
        // pageload is called at once.
        // hash don't contain "#", "?"
        $.historyLoad(hash);

        return false;
});


});
</script>
${footerhtml}</body></html>