<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.image.imageIOplugins">
      <provider
            class="com.github.jaiimageio.jpeg2000.impl.J2KImageReaderSpi"
            name="JPEG 2000 image reader">
      </provider>
   </extension>

</plugin>
