<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.gps.premiumService">
      <premiumService
            description="%premiumService.description"
            id="com.bdaum.zoom.gps.naming.geonaming.premiumService2"
            name="%premiumService.name">
         <key
               id="com.bdaum.zoom.gps.geoNamesParms"
               name="%key.name">
         </key>
      </premiumService>
   </extension>
   <extension
         point="com.bdaum.zoom.gps.geonamingService">
      <geonamingService
            class="com.bdaum.zoom.gps.naming.geonaming.internal.GeoNamesService"
            default="false"
            description="%geonamingService.description"
            id="GeoNames"
            name="%geonamingService.name">
      </geonamingService>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="com.bdaum.zoom.gps">
      </contexts>
   </extension>

</plugin>
