<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.gps.geonamingService">
      <geonamingService
            class="com.bdaum.zoom.gps.naming.geonaming.internal.GeoNamesService"
            default="false"
            description="%geonamingService.description"
            id="GeoNames"
            link="http://www.geonames.org/"
            name="%geonamingService.name">
         <parameter
               hint="%parameter.hint"
               id="com.bdaum.zoom.gps.geoNamesParms"
               label="%parameter.label"
               reqMsg="%parameter.reqMsg"
               tooltip="%parameter.tooltip">
         </parameter>
      </geonamingService>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="com.bdaum.zoom.gps">
      </contexts>
   </extension>

</plugin>
