<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.bdaum.zoom.ui.CatalogCommands"
            defaultHandler="com.bdaum.zoom.report.internal.commands.ReportCommand"
            description="%command.description.createReport"
            id="com.bdaum.zoom.report.ReportCommand"
            name="%command.name.reports">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:catalog?after=catExt2">
         <command
               commandId="com.bdaum.zoom.report.ReportCommand"
               icon="icons/report.png"
               label="%command.label.reports"
               mnemonic="%command.mnemonic.reports"
               style="push"
               tooltip="%command.tooltip.createReport">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=cat.import">
         <toolbar
               id="cat.report"
               label="%toolbar.label.reports">
            <command
                  commandId="com.bdaum.zoom.report.ReportCommand"
                  icon="icons/report.png"
                  label="%command.label.reports"
                  mnemonic="%command.mnemonic.reports"
                  style="push"
                  tooltip="%command.tooltip.createReport">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="introContexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>

</plugin>
