/* Gray */
JFace {HYPERLINK_COLOR:blue;ACTIVE_HYPERLINK_COLOR:rgb(128,128,255);}
Label#clink {color:blue;background-color:transparent;}
CLink {color:rgb(0,128,255);background-color:transparent;}
Label#errors {color:red;background-color:transparent;}
Label#disabled {color:rgb(120,120,120);background-color:transparent;}
Label {color:black;background-color:background-color:transparent;}
Button {color:black;background-color:rgb(224,224,230);}
Text#errors {color:red;background-color:rgb(240,240,240);}
Text[style='SWT.READ_ONLY'] {color:black;background-color:rgb(224,224,230);}
Text[enabled=false] {color:black;background-color:rgb(230,230,236);}
Text[editable=false] {color:black;background-color:rgb(224,224,230);}
Text {color:black;background-color:rgb(240,240,240);}
StyledText[style='SWT.READ_ONLY'] {color:black;background-color:rgb(224,224,230);}
StyledText[enabled=false] {color:black;background-color:rgb(230,230,236);}
StyledText[editable=false] {color:black;background-color:rgb(224,224,230);}
StyledText {color:black;background-color:rgb(240,240,240);}
Combo[enabled=false] {color:black;background-color:rgb(230,230,236);}
Combo {color:black;background-color:rgb(240,240,240);}
CCombo[enabled=false] {color:black;background-color:rgb(230,230,236);}
CCombo {color:black;background-color:rgb(240,240,240);}
ToolTip {color:rgb(30,30,30);background-color:rgb(255,255,230);}
Tree {color:rgb(32,32,32);background-color:rgb(224,224,230);}
TreeItem {color:rgb(32,32,32);background-color:rgb(224,224,230);selected-background-color:rgb(192,192,192);selected-color:black);tooltip-background-color:rgb(255,255,240);tooltip-color:rgb(96,96,96);tooltip-background-color:rgb(255,255,240);tooltip-color:rgb(96,96,96);}
Table {color:rgb(32,32,32);background-color:rgb(224,224,230);offline-color:rgb(128, 160, 0);remote-color:rgb(32, 32, 192);}
TableItem {color:rgb(32,32,32);background-color:rgb(224,224,230);selected-background-color:rgb(192,192,192);selected-color:black);tooltip-background-color:rgb(255,255,240);tooltip-color:rgb(96,96,96);tooltip-background-color:rgb(255,255,240);tooltip-color:rgb(96,96,96);}
Gallery {color:rgb(32,32,32);background-color:rgb(224,224,230);title-color:rgb(32,32,32);title-background-color:rgb(192,192,192);selected-background-color:rgb(64,64,64);selected-color:rgb(128,128,128);offline-color:rgb(128, 160, 0);remote-color:rgb(32, 32, 192);selected-offline-color:red;selected-remote-color:rgb(64, 64, 160);}
CGroup {color:rgb(0,80,160);background-color:transparent;}
Composite {background-color:rgb(224,224,230);}
Shell#slideshow {color:rgb(224,224,224);background-color:rgb(0,0,0);}
Shell {color:rgb(32,32,32);background-color:rgb(224,224,230);}
CBanner {background-color:rgb(224,224,230);}
Coolbar {background-color:rgb(224,224,230);}
Toolbar {background-color:rgb(224,224,230);}
Scale {background-color:rgb(224,224,230);}
Statusline {background-color:rgb(224,224,230);}
CLabel#selection {color:rgb(128,64,0);}
CLabel {color:black;background-color:rgb(224,224,230);}
TrimCommonUIHandle {background-color:rgb(224,224,230);}
ZPSWTCanvas#slideshow {color:rgb(144,144,144);foreground-color:rgb(144,144,144);title-color:rgb(124,124,124);background-color:rgb(224,224,230);selected-background-color:rgb(192,192,192);offline-color:rgb(128, 160, 0);remote-color:rgb(32, 32, 192);selected-offline-color:red;selected-remote-color:rgb(64, 64, 160);}
ZPSWTCanvas#exhibition {color:rgb(144,144,144);title-color:rgb(124,124,124);background-color:rgb(224,224,230);selected-background-color:rgb(224,224,124);offline-color:rgb(128, 160, 0);remote-color:rgb(32, 32, 192);selected-offline-color:red;selected-remote-color:rgb(64, 64, 160);}
ZPSWTCanvas#webgallery {color:rgb(255, 255, 250);foreground-color:rgb(144,144,144);title-color:rgb(114,114,114);background-color:rgb(224,224,230);selected-background-color:rgb(192,192,192);offline-color:rgb(128, 160, 0);remote-color:rgb(32, 32, 192);selected-offline-color:red;selected-remote-color:rgb(64, 64, 160);}
ZPSWTCanvas {color:rgb(32,32,32);background-color:rgb(224,224,230);offline-color:rgb(128, 160, 0);remote-color:rgb(32, 32, 192);selected-offline-color:red;selected-remote-color:rgb(64, 64, 160);selected-background-color:rgb(192,192,192);selected-color:rgb(64,64,64);}
* {color:black;background-color:rgb(224,224,230);}