<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.core.recipeDetector">
      <detector
            class="com.bdaum.zoom.recipes.rt.internal.RTDetector"
            description="%detector.description"
            id="com.bdaum.zoom.recipes.rt"
            name="%detector.name">
         <parameter
               default="com.bdaum.zoom.recipes.rt.cache"
               id="com.bdaum.recipe.rt.metadatapriority"
               name="%parameter.name">
            <parameterValue
                  id="com.bdaum.zoom.recipes.rt.cache"
                  label="%parameterValue.label.cache">
            </parameterValue>
            <parameterValue
                  id="com.bdaum.zoom.recipes.rt.inputFile"
                  label="%parameterValue.label.sidecar">
            </parameterValue>
         </parameter>
      </detector>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>

</plugin>
