<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bdaum.zoom.net.ui.internal.preferences.InternetPreferencePage"
            id="com.bdaum.zoom.net.preferences.InternetPreferencePage"
            name="%page.name.internet">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bdaum.zoom.net.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="com.bdaum.zoom.common.preferenceConstants">
      <constants
            class="com.bdaum.zoom.net.ui.internal.preferences.PreferenceConstants">
      </constants>
   </extension>

</plugin>
