/* Dark gray */
JFace {HYPERLINK_COLOR:red;ACTIVE_HYPERLINK_COLOR:rgb(255,128,128);}
CLink {color:rgb(192,255,192);}
Label#clink {color:rgb(180,240,255);}
Label#errors {color:red;}
Label#sectionTitle {color:rgb(128, 0, 0);}
Label#disabled {color:rgb(120,120,120);}
Label {background-color:transparent;}
Button[style='SWT.CHECK'] {color:black;background-color:rgb(60,60,60);} 
Button[style='SWT.RADIO'] {color:black;background-color:rgb(60,60,60);}
Button {color:black;background-color:rgb(200,200,200);}
Spinner {color:black;background-color:rgb(240,240,240);}
Text#errors {color:red;background-color:rgb(240,240,240);}
Text[editable=false] {color:rgb(240,240,240);background-color:rgb(60,60,60);}
Text[style='SWT.READ_ONLY'] {color:rgb(240,240,240);background-color:rgb(60,60,60);}
Text[enabled=false] {color:rgb(212,212,212);background-color:rgb(64,64,64);}
Text {color:black;background-color:rgb(240,240,240);}
StyledText#hint {color:rgb(128,128,128);background-color:rgb(240,240,240);}
StyledText[editable=false] {color:rgb(240,240,240);background-color:rgb(60,60,60);}
StyledText[style='SWT.READ_ONLY'] {color:rgb(240,240,240);background-color:rgb(60,60,60);}
StyledText[enabled=false] {color:rgb(212,212,212);background-color:rgb(64,64,64);}
StyledText {color:black;background-color:rgb(240,240,240);}
Combo[enabled=false] {color:rgb(212,212,212);background-color:rgb(64,64,64);}
Combo {color:black;background-color:rgb(240,240,240);}
CCombo[enabled=false] {color:rgb(212,212,212);background-color:rgb(64,64,64);}
CCombo {color:black;background-color:rgb(240,240,240);}
Tree {color:rgb(224,224,224);selected-background-color:rgb(96,96,96);selected-color:rgb(255,255,255);disabled-color:rgb(144,144,144);tooltip-background-color:rgb(255,255,240);tooltip-color:rgb(96,96,96);}
Table {color:rgb(224,224,224);offline-color:rgb(128, 160, 0);remote-color:rgb(128, 128, 240);selected-background-color:rgb(96,96,96);selected-color:rgb(255,255,255);disabled-color:rgb(144,144,144);tooltip-background-color:rgb(255,255,240);tooltip-color:rgb(96,96,96);}
Gallery {color:rgb(224,224,224);selected-background-color:rgb(224,224,224);selected-color:rgb(60,60,60);offline-color:rgb(128, 160, 0);remote-color:rgb(128, 128, 240);selected-offline-color:red;selected-remote-color:rgb(64, 64, 128);}
CGroup {background-color:transparent;}
Shell {color:rgb(224,224,224);}
CBanner {}
Coolbar {}
Toolbar {}
ToolItem {}
Scale {}
Statusline {}
CLabel#selection {color:rgb(255,128,0);}
CLabel {}
TrimCommonUIHandle {}
ZPSWTCanvas#slideshow {color:rgb(144,144,144);foreground-color:rgb(144,144,144);title-color:rgb(244, 244, 222);}
ZPSWTCanvas#exhibition {color:rgb(144,144,144);title-color:rgb(164,164,164);selected-background-color:rgb(224,224,124);}
ZPSWTCanvas#webgallery {color:rgb(255, 255, 250);foreground-color:rgb(144,144,144);title-color:rgb(222, 255, 255);selected-color:rgb(255,255,255);selected-background-color:rgb(96,96,96);}
ZPSWTCanvas {color:rgb(224,224,224);background-color:rgb(60,60,60);offline-color:rgb(128, 160, 0);remote-color:rgb(128, 128, 240);selected-offline-color:red;selected-remote-color:rgb(64, 64, 128);selected-background-color:rgb(114,114,114);selected-color:rgb(32,32,32);}
Composite {}
* {color:rgb(240,240,240);background-color:rgb(60,60,60);}
