<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.bdaum.zoom.email.category"
            class="com.bdaum.zoom.email.internal.EmailWizard"
            icon="icons/email_icon.gif"
            id="com.bdaum.zoom.email.wizard"
            name="%wizard.name.email">
         <description>
            %wizard.description.export.email
         </description>
      </wizard>
      <wizard
            class="com.bdaum.zoom.email.internal.PDFWizard:pdf"
            icon="icons/PDF_Icon.gif"
            id="com.bdaum.zoom.email.PDFWizard"
            name="%wizard.name">
         <description>
            %wizard.description.export.pdf
         </description>
      </wizard>
      <wizard
            category="com.bdaum.zoom.email.category"
            class="com.bdaum.zoom.email.internal.EmailPDFWizard"
            icon="icons/email_pdf_icon.gif"
            id="com.bdaum.zoom.email.EmailPDFWizard"
            name="%wizard.name.email_as_pdf">
         <description>
            %wizard.description.export.pdfmail
         </description>
      </wizard>
      <category
            id="com.bdaum.zoom.email.category"
            name="%category.name">
      </category>
      <wizard
            class="com.bdaum.zoom.email.internal.PDFWizard:html"
            icon="icons/HTM_Icon.png"
            id="com.bdaum.zoom.email.HTMLWizard"
            name="%wizard.name.0">
         <description>
            %wizard.description.html
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contextExt.xml"
            plugin="com.bdaum.zoom.doc">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
      <toc
            file="tocrefOthers.xml"
            primary="false">
      </toc>
      <toc
            file="tocref.xml"
            primary="false">
      </toc>
      <toc
            file="tocOthers.xml"
            primary="false">
      </toc>
      <toc
            file="tocprefs.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bdaum.zoom.email.internal.MailPreferencePage"
            id="com.bdaum.zoom.email.mailPage"
            name="%page.name.email">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bdaum.zoom.email.internal.MailPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.bdaum.zoom.common.preferenceConstants">
      <constants
            class="com.bdaum.zoom.email.internal.PreferenceConstants">
      </constants>
   </extension>

</plugin>
