h1 { font-size:300%;
     color:#444444;
     font-style:italic;
     border-bottom:solid thin black; }
h2 { font-size:150%;
     color:#444444;
     font-style:italic; }
td { background-color:#DDDDDD; }
.caption1 { font-size:80%;
     color:#000000;
     font-style:italic; }
.caption2 { font-size:70%;
     color:#000000;
     font-style:italic; }
.footer { font-size:70%;
     color:#888888;
     font-style:normal;
	 margin-top:5px;
     border-bottom:solid thin black; }
.img {  outline:1px solid #666666; margin:4px }