<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.bdaum.zoom.net.communities.category"
            class="com.bdaum.zoom.net.communities.ui.CommunityExportWizard"
            icon="icons/smugmug16..png"
            id="com.bdaum.zoom.net.communities.smugmug.wizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="com.bdaum.zoom.net.communities.community">
      <community
            api="com.bdaum.juploadr.uploadapi.smugrest.SmugmugRestApi"
            bannerImage="icons/smugmug64.png"
            home="www.smugmug.com"
            icon="icons/smugmug16..png"
            id="smugmug.com"
            name="%community.name"
            sessions="true"
            supportsCategories="set"
            supportsGeocoding="true"
            supportsPhotosets="single"
            supportsSubCategories="set"
            supportsTagging="false">
         <account
               authentification="password">
            <accountType
                  key="standard"
                  label="%accountType.label.standard">
            </accountType>
            <accountType
                  key="power"
                  label="%accountType.label.power">
            </accountType>
            <accountType
                  key="pro"
                  label="%accountType.label.pro">
            </accountType>
            <accessType
                  key="private"
                  label="%accessType.label.private">
               <accessTypeDetail
                     key="friends"
                     label="%accessTypeDetail.label.friends">
               </accessTypeDetail>
               <accessTypeDetail
                     key="family"
                     label="%accessTypeDetail.label.family">
               </accessTypeDetail>
            </accessType>
            <accessType
                  isDefault="true"
                  key="public"
                  label="%accessType.label.public">
            </accessType></account>
         </community>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocwizard.xml"
            primary="false">
      </toc>
      <toc
            file="toctaskwizard.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>

</plugin>
