<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.ui.galleryGenerator">
      <generator
            class="com.bdaum.zoom.web.simpleviewer.SimpleViewerGenerator"
            description="html/preview1.html"
            id="com.bdaum.zoom.web.simpleViewer.generator1"
            maxImages="50"
            name="%generator.name"
            sections="false"
            slideshows="false"
            unsupported="description download thumbnailsize opacity padding sectionfont navfont padding"
            url="http://www.simpleviewer.net">
         <group
               name="%group.name.appearance">
         </group>
         <parameter
               default="MODERN"
               description="%parameter.description.theme"
               encodeForHtml="false"
               id="theme"
               label="%parameter.label.theme"
               required="false"
               type="string">
            <enumeration
                  id="MODERN"
                  label="%enumeration.label.theme.modern">
            </enumeration>
            <enumeration
                  id="COMPACT"
                  label="%enumeration.label.theme.compact">
            </enumeration>
            <enumeration
                  id="CLASSIC"
                  label="%enumeration.label.theme.classic">
            </enumeration>
         </parameter>
         <parameter
               default="false"
               description="%parameter.description.bgTransparent"
               encodeForHtml="false"
               id="transparentBackground"
               label="%parameter.label.bgTransparent"
               required="false"
               type="boolean">
         </parameter>
         <parameter
               default="3"
               description="%parameter.description.columns"
               encodeForHtml="false"
               id="thumbColumns"
               label="%parameter.label.columns"
               max="30"
               min="1"
               required="false"
               type="int">
         </parameter>
         <parameter
               default="3"
               description="%parameter.description.rows"
               encodeForHtml="false"
               id="thumbRows"
               label="%parameter.label.rows"
               max="30"
               min="1"
               required="false"
               type="int">
         </parameter>
         <parameter
               default="LEFT"
               description="%parameter.description.position"
               encodeForHtml="false"
               id="thumbPosition"
               label="%parameter.label.position"
               required="false"
               type="string">
            <enumeration
                  id="LEFT"
                  label="%enumeration.label.position.left">
            </enumeration>
            <enumeration
                  id="RIGHT"
                  label="%enumeration.label.position.right">
            </enumeration>
            <enumeration
                  id="TOP"
                  label="%enumeration.label.position.top">
            </enumeration>
            <enumeration
                  id="BOTTOM"
                  label="%enumeration.label.position.bottom">
            </enumeration>
            <enumeration
                  id="NONE"
                  label="%enumeration.label.position.none">
            </enumeration>
         </parameter>
         <parameter
               default="20"
               description="%parameter.description.frameWidth"
               encodeForHtml="false"
               id="frameWidth"
               label="%parameter.label.frameWidth"
               max="100"
               min="0"
               required="false"
               type="int">
         </parameter>
      </generator>
   </extension>

</plugin>
