<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bdaum.zoom.ui.galleryGenerator">
      <generator
            class="com.bdaum.zoom.web.tiltviewer.TiltViewerGalleryGenerator"
            description="html/preview1.html"
            id="com.bdaum.zoom.web.tiltViewer.generator1"
            name="TiltViewer"
            sections="false"
            slideshows="false"
            unsupported="description descriptionfont download thumbnailsize opacity padding sectionfont navfont padding"
            url="https://www.simpleviewer.net/tiltviewer/">
         <group
               name="%group.name.layout">
         </group>
         <parameter
               default="5"
               description="%parameter.description.columns"
               encodeForHtml="false"
               id="thumbColumns"
               label="%parameter.label.columns"
               max="30"
               min="1"
               required="false"
               type="int">
         </parameter>
         <parameter
               default="5"
               description="%parameter.description.rows"
               encodeForHtml="false"
               id="thumbRows"
               label="%parameter.label.rows"
               max="30"
               min="1"
               required="false"
               type="int">
         </parameter>
         <group
               name="%group.name.colors">
         </group>
         <parameter
               default="64 64 64"
               description="%parameter.description.innerColor"
               encodeForHtml="false"
               id="bkgndInnerColor"
               label="%parameter.label.innerColor"
               required="false"
               type="color">
         </parameter>
         <parameter
               default="32 32 32"
               description="%parameter.description.outerColor"
               encodeForHtml="false"
               id="bkgndOuterColor"
               label="%parameter.label.outerColor"
               required="false"
               type="color">
         </parameter>
         <parameter
               default="128 128 128"
               description="%parameter.description.backColor"
               encodeForHtml="false"
               id="backcolor"
               label="%parameter.label.backColor"
               required="true"
               type="color">
         </parameter>
         <group
               name="%group.name.lettering">
         </group>
         <parameter
               default="%parameter.default.gofull"
               description="%parameter.description.gofull"
               encodeForHtml="true"
               id="langGoFull"
               label="%parameter.label.gofull"
               required="false"
               type="string">
         </parameter>
         <parameter
               default="%parameter.default.exitfull"
               description="%parameter.description.exitfull"
               encodeForHtml="true"
               id="langExitFull"
               label="%parameter.label.exitfull"
               required="false"
               type="string">
         </parameter>
      </generator>
   </extension>

</plugin>
