<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.bdaum.zoom.net.communities.category"
            class="com.bdaum.zoom.net.communities.ui.CommunityExportWizard"
            icon="icons/flickr16.png"
            id="com.bdaum.zoom.net.communities.flickr.wizard"
            name="Flickr">
         <description>
            %wizard.description.export
         </description>
      </wizard>
   </extension>
   <extension
         point="com.bdaum.zoom.net.communities.community">
      <community
            api="com.bdaum.zoom.flickrrest.internal.RestFlickrApi"
            bannerImage="icons/flickr64.png"
            errorHandler="com.bdaum.zoom.flickrrest.internal.FlickrErrorHandler"
            home="http://www.flickr.com/"
            icon="icons/flickr16.png"
            id="flickr.com"
            name="Flickr"
            sessions="false"
            supportsCategories="false"
            supportsGeocoding="true"
            supportsPhotosets="true"
            supportsSubCategories="false"
            supportsTagging="true">
         <account
               authentification="authorization">
            <accountType
                  key="free"
                  label="%accountType.label.free">
            </accountType>
            <accountType
                  key="pro"
                  label="%accountType.label.pro">
            </accountType>
            <accessType
                  key="private"
                  label="%accessType.label.private">
               <accessTypeDetail
                     key="friends"
                     label="%accessTypeDetail.label.friends">
               </accessTypeDetail>
               <accessTypeDetail
                     key="family"
                     label="%accessTypeDetail.label.family">
               </accessTypeDetail>
            </accessType>
            <accessType
                  isDefault="true"
                  key="public"
                  label="%accessType.label.public">
            </accessType></account>
      </community>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocwizard.xml"
            primary="false">
      </toc>
      <toc
            file="toctaskwizard.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>

</plugin>
